body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-yellow: #FFC107;
  --primary-black: #212121;
  --primary-grey: #DFDFDF;
  --primary-white: #FAFAFA;
  --primary-red: #D9534F;

  --dark-black: #181818;
  --dark-grey: #F5F5F5;
  --dark-white: #E8E8E8;
}

body {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

input:-webkit-autofill {
  background-color: var(--dark-grey) !important;
  box-shadow: 0 0 0px 1000px var(--dark-grey) inset !important;
}